<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="container">
        <nav class="nav">
            <a class="navbar-brand" href="#">Sistema Veicular</a>
            <a class="nav-link" routerLink="cadastrar">Cadastrar</a>
            <!--<a class="nav-link" href="#"></a>
            <a class="nav-link" href="#"></a>-->
        </nav>
        <br />
        <p class="text-center">
            Exercicio:
            <p class="text-center">Fazer uma tabela com os seguintes componentes:</p>
            <ul>
                <li>Index - com uma tabela mostrando dados de um determinado veiculo com os seguintes
                    dados:id,nome,placa e imagem do veiculo</li>
                <li>Cadastro - cadastrar veiculo</li>
                <li>Alterar - alterar veiculos</li>
                <li>Remover - remover veiculo</li>
                <li>Tecnologias exigidas:C# - NetCore,Angular,WebServices</li>
            </ul>
            <router-outlet></router-outlet>
    </div>
</div>